<%- include('common/head') %>

<body>
  <%- include('common/header') -%> 
    
    
    
    <div class="container">
      <h1 class="text-center">Add a new horse</h1>
      <div class="row justify-content-md-center">
        <div class="col-">
          <form method="POST" action="/create-horse">
            <div class="form-group">
              <label for="name">Taster Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter Name"
              />

              <% if (errors['name']) { %>
              <p style="color: red"><%= errors['name'].message %></p>
              <% } %>
            </div>
            <div class="form-group">
              <label for="name">Twitter Handle</label>
              <input
                type="text"
                class="form-control"
                id="twitter"
                name="twitter"
              />
              <% if (errors['twitter']) { %>
              <p style="color: red"><%= errors['twitter'].message %></p>
              <% } %>
            </div>
            

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <%- include('common/footer') %>
  </body>