
<%- include('common/head') %>

<body>
    <div class="wibble">
        <%- include('common/header') -%> 
        <main>
            <div class="container">
                <div class="containerHeader">
                    <h1>Add a new horse</h1>
                </div>

                <div class ="containerContent">
                    <form method="POST" action="/create-horse">
                        <div class="form-group">
                          <label for="name">Horse Name</label>
                          <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            placeholder="Enter Name"
                          />
            
                          <% if (errors['name']) { %>
                          <p style="color: red"><%= errors['name'].message %></p>
                          <% } %>
                        </div>
                        <div class="form-group">
                          <label for="name">Year of birth</label>
                          <input
                            type="text"
                            class="form-control"
                            id="yob"
                            name="yob"
                          />
                          <% if (errors['twitter']) { %>
                          <p style="color: red"><%= errors['twitter'].message %></p>
                          <% } %>
                        </div>
                        <div class="form-group">
                            <label for="name">Colour</label>
                            <input
                              type="text"
                              class="form-control"
                              id="horsecolour"
                              name="horsecolour"
                            />
                            <% if (errors['colour']) { %>
                            <p style="color: red"><%= errors['colour'].message %></p>
                            <% } %>
                          </div>
            
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                

                </div>
            </div>

        </main>

        <%- include('common/footer'); -%>
        </div>
    </div>

</body>
</html>
